<?xml version="1.0"?>
<model>
  <name>iris</name>
  <version>1.0</version>
  <sdf version="1.6">iris.sdf</sdf>
  <author>
    <name>Prasad_Ghumare</name>
    <email>you@email.com</email>
  </author>
  <description>Iris with front camera, 2D lidar and 250Hz IMU for SLAM/VIO (ROS 2 Humble gazebo_ros plugins)</description>
</model>
